<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SATSMARTDriver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SATSMARTLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TestTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>buildDMG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>smart_sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>smart_status.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32D94FC30562CBF700B6AF17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A813771414E6F99B005EAAE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A813772B14E6F9BC005EAAE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A86A787514F57C900067035C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8CDBA1114E53D3E00881848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8CDBAFD14E5405F00881848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D61EE2F6156A4F5C00A803A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
