<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>fi.dungeon.driver.SATSMARTLib</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>SATSMARTLib</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.11</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>3AD527ED-62A3-4F94-8889-0FD92DEC32C5</key>
		<string>SATSMARTLibFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>24514B7A-2804-11D6-8A02-003065704866</key>
		<array>
			<string>3AD527ED-62A3-4F94-8889-0FD92DEC32C5</string>
		</array>
	</dict>
</dict>
</plist>
