<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>dungeon.driver.${PRODUCT_NAME:rfc1034Identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOSATDriver</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOSCSIPeripheralDeviceNub</string>
			<key>IOMatchCategory</key>
			<string>org_dungeon_driver_IOSATDriver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOClass</key>
			<string>org_dungeon_driver_IOSATDriver</string>
			<key>CFBundleIdentifier</key>
			<string>dungeon.driver.${PRODUCT_NAME:rfc1034Identifier}</string>
			<key>Vendor Name</key>
			<string>Ext Hard</string>
			<key>Product Name</key>
			<string> Disk</string>
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5117</integer>
			<key>idVendor</key>
			<integer>4672</integer>
			<key>IOProbeScore</key>
			<integer>4000</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>10.8</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.8</string>
		<key>com.apple.iokit.IOSCSIArchitectureModelFamily</key>
		<string>2.6.8</string>
		<key>com.apple.iokit.IOSCSIBlockCommandsDevice</key>
		<string>2.6.8</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.6.3</string>
	</dict>
</dict>
</plist>
